In [3]:
path = "Data/All_Records_Clean_Names.csv"
import pandas as pd
df = pd.read_csv(path)

In [4]:
from TFIDF_Sim_Utils import (ngrams,
                             awesome_cossim_top,
                             get_matches_df)

In [5]:
df["Clean_Name"] = df["Clean_Name"].astype(str)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
company_names = df["Clean_Name"]
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(company_names)

In [12]:
import time
t1 = time.time()
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(), 15, 0.9)
t = time.time()-t1
print("TIME TAKEN:", t)

TIME TAKEN: 526.0623099803925

In [8]:
matches_df = get_matches_df(matches, company_names, top=False)
matches_df_exact_removed = matches_df[matches_df['similairity'] < 0.99999] # Remove all exact matches

In [9]:
matches_df_exact_removed = matches_df[matches_df['similairity'] < 0.99999]
matches_df_exact_removed.sort_values(['similairity'], ascending=False).head(10)

,left_side,right_side,similairity
4129948,Moodys Analytics Singapore Pte Moodys Analytic...,Moodys Analytics Singapore Pte,0.996428
4129942,Moodys Analytics Singapore Pte,Moodys Analytics Singapore Pte Moodys Analytic...,0.996428
4131406,Moodys Analytics Singapore Pte,Moodys Analytics Singapore Pte Moodys Analytic...,0.996428
4131398,Moodys Analytics Singapore Pte,Moodys Analytics Singapore Pte Moodys Analytic...,0.996428
4129950,Moodys Analytics Singapore Pte Moodys Analytic...,Moodys Analytics Singapore Pte,0.996428
4129949,Moodys Analytics Singapore Pte Moodys Analytic...,Moodys Analytics Singapore Pte,0.996428
4131422,Moodys Analytics Singapore Pte,Moodys Analytics Singapore Pte Moodys Analytic...,0.996428
4129947,Moodys Analytics Singapore Pte Moodys Analytic...,Moodys Analytics Singapore Pte,0.996428
4129946,Moodys Analytics Singapore Pte Moodys Analytic...,Moodys Analytics Singapore Pte,0.996428
4129945,Moodys Analytics Singapore Pte Moodys Analytic...,Moodys Analytics Singapore Pte,0.996428

In [10]:
# Distinct Entities
matches_df_exact_removed.shape

(651930, 3)

In [11]:
# All Entities
matches_df.shape

(7010599, 3)